root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2

[{M,m}akefile]
indent_style = tab
indent_size = 4

[*.mk]
indent_style = tab
indent_size = 4

[*.py]
indent_size = 4

[*.rst]
max_line_length = 10000

[*.yaml]
max_line_length = 10000
